* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blog-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(141, 139, 137);
}

.blog-title {
    height: 12vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-items: center;
}

.blog-lists {
    display: grid;
    grid-template-columns: 15vw 60vw 15vw;
    justify-content: center;
    margin: 2em 2em;
    gap: 3em;
    height: 50vh;
}

.left-side {
    background-color: antiquewhite;
    border-radius: 1em;
}

.blog-page {
    background-color: rgb(227, 227, 233);
    border-radius: 1em;
}

.right-side {
    background-color: blueviolet;
    border-radius: 1em;
}

.topic {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.main {
    display: block;
}