*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
  background-image: url(./images/cont.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 35vw 50vw;
  gap: 2em;
  justify-content: center;
}

.contact-sec {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.form-section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2em 0;
}

.nav-links ul {
    display: flex !important;
    justify-content: space-between;
    cursor: pointer;
}

ul h4 {
    font-size: 0.7em;
}

.form {
    width: 50vw;
    height: 60vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

form {
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    justify-content: center;
    margin: 1em auto;
    color: rgb(255, 255, 255);
}

input {
    height: 3em;
    background-color: rgb(196, 196, 194);
    outline: none;
    border: none;
}

.name-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.name-section .name-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email-sec {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.email-sec input {
    width: 20vw;
}

.msg-sec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.msg-sec textarea {
    width: 20vw;
    height: 15vh;
    border: none;
    outline: none;
    background-color: rgb(196, 196, 194);
}

button {
    width: 10vw;
    margin: 0 auto;
}

.nav-links {
    width: 35vw;
    height: 4em;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
}

nav ul {
    display: flex;
}



