*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
  background-image: url(./images/cont.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3em 4em;
}

.medium {
    margin-top: 4em;
}

.media {
  display: flex;
}

.media img {
  width: 50px;
  height: 50px;
  opacity: 0.9;
}

.media a {
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 30px;
  color: rgb(59, 236, 236);
}

.email {
  display: flex;
}

.email img {
  width: 50px;
  height: 50px;
}

.email h4 {
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 30px;
  color: rgb(59, 236, 236);
  font-size: 1.5em;
  font-weight: 100;
}
