* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2em;
  list-style-type: none;
  justify-content: center;
  color: aliceblue;
  font-weight: 100;
}

.active {
  background: beige;
  color: black;
  margin: 3px;
}

li {
  font-size: 1.5em;
  cursor: pointer;
}

a:hover {
  background: rgb(59, 236, 236);
  color: black;
  padding: 10px;
}

a:target {
  background: rgb(59, 236, 236);
  color: black;
}

.header {
  height: 3em;
  background: rgb(8, 8, 8);
  margin-top: -3.6px;
  padding-bottom: 10px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: rgb(185, 186, 187);
}
