* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url(./images/backg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 40vw 60vw;
}

.intro {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: background 2s;
}

.pages:hover {
    background: rgb(53, 47, 47);
}

.orange {
    width: 50vw;
    height: 80vh;
    background: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 2s;
    /* box-shadow: 5px 15px blue; */
}

.orange:hover {
    background: rgb(99, 69, 99);
}

.purple {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
    background: transparent;
    transition: background 2s;
}

.purple:hover {
    background: rgb(132, 158, 79);
}

.green {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    background: transparent;
    transition: background 2s;
}

.green:hover {
    background: rgb(42, 71, 78);
}

h1 {
  color: rgb(197, 197, 193);
  font-weight: 100;
}

span {
  color: rgb(59, 236, 236);
}

button {
  color: rgb(59, 236, 236);
  font-weight: 100;
  border: 1px solid rgb(241, 238, 238);
  padding: 12px;
  box-sizing: border-box;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
  text-transform: capitalize;
}

ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3em;
    list-style-type: none;
    justify-content: center;
    font-weight: 100;
    margin-top: 1.5em;
}

li {
    font-size: 1.5em;
    cursor: pointer;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: rgb(255, 255, 255);
    opacity: 1;
}

li button {
    border: 2px solid rgb(59, 236, 236);
    width: 8em;
    color: aliceblue; 
    transition: transform 2s; 
}

li button:hover {
    opacity: 1;
    border: 1px solid aliceblue;
    color: aqua;
    transform: rotate(360deg);
}

a:hover {
    color: rgb(59, 236, 236);
    background-color: rgb(1, 14, 14);
}

a:target {
    background: rgb(59, 236, 236);
    color: black;
}

a {
    text-decoration: none;
    color: rgb(185, 186, 187);
}
