* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects {
  background-image: url(./images/projectsbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 95.46vh;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  color: aliceblue;
  grid-gap: 20px;
}

.grid div {
  width: 280px;
  height: 280px;
  text-align: center;
  color: black;
  background: aliceblue;
  margin-top: 25vh;
}
