* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects {
  background-image: url(./images/projectsbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 30vw 30vw;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: aliceblue;
  background: green;
}
