* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects {
  background-image: url(./images/projectsbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 40vw 40vw;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background: transparent;
  cursor: pointer;
  gap: 0.5em;
}

.grid img {
    width: 30vw;
    height: 35vh;
    border-radius: 0.5em;
    transition: width 2s, height 2s;
}

.grid img:hover {
    width: 35vw;
    height: 45vh;
}

h3 {
    font-weight: 100;
}
